.ConfusionMatrix {
    border-collapse: collapse;
}

.ConfusionMatrix td {
    border: 1px solid #e4e4e4;
}

.IntentHeader td {
    height: 200px;
    white-space: nowrap;
    font-size: 10px;
}

.IntentHeader td>div {
    transform: /* Magic Numbers */
    translate(0px, 80px)
    /* 45 is really 360 - 45 */
    rotate(270deg);
    width: 130px;
    text-align: left;
    width: 20px;
}

.IntentCMRow {
    font-size: 10px;
}

.IntentCMRow:Hover {
    background: yellow;
}

.IntentLabel {
    font-size: 10px;
    text-align: right;
    font-weight: bold;
}